<div>
    <div class="today">{{date}}-{{month}}-{{year}}</div>
    <br>
    <h1 class="wish">{{getWish()}}</h1>
    <div class="name">I'm <b>M</b>onil <b>B</b>axi</div>
    <div class="media">Check me out on <br>
        <a><mat-icon>facebook</mat-icon></a>
        <a><mat-icon>youtube</mat-icon></a>
        <a><mat-icon>instagram</mat-icon></a>
        <a><mat-icon>linkedIn</mat-icon></a>
    </div>
    <div>
        <img src="./../../assets/pic.jpeg" alt="pic not found"
          style = "background: transparent;border-radius: 60%;margin-left: 50%;width:300px;height: 370px;border: 2px dashed;">
    </div>
</div>
